<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI, Prediction, and Water Conservation</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <a href="index.html"></a>
</head>
<body>

<header>
    
    <h1>AI, Prediction, and Water Conservation</h1>
</header>

<!-- Navigation Bar -->
<nav>
    <a href="index.html" id="ai-link">
        <label for="ai">AI</label>
    </a>
    

    <input type="radio" id="prediction" name="section">
    <label for="prediction">Prediction</label>
</nav>



<section class="ai-section">
    <h2>AI Chatbot that can give tips for water conservation and its importance</h2>
    <p>This section will contain information about AI, its applications, and various techniques used in AI.</p>
</section>



<section class="prediction-section">
    <h2>Predict if there will be rainfall or not for given coordinates</h2>
    <p>This section will allow users to input data to predict outcomes like rainfall, temperature, etc.</p>
</section>



</a<>
</html>
